.container {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    background-color: white;
}

body {
    background-color: #00ADB5;
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1 {
    color: #393E46;
    font-size: 70px;
}

button {
    margin-bottom: 30px;
}

.buttons {
    width: 640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}